## List

In [ ]:
x = [1, "hello", 5.7, 'hi', True,1,1]


print(x)
print(x[3])
x[3] = 10000
print(x)

In [ ]:
x = [1, "hello", 5.7, 'hi', True,1,1]


# print(type(x[1:4]))
x[1:4] = [10000,6,7]
print(x)

### Nested List

In [ ]:
x = [1, 2, [3, 4, 5, [6, 7, 8, 9], 10, 11], 12]



print(x[2][3][2])
x[2][3][2] = "hello"
print(x)

## List Functions

In [ ]:
x = [1,2,3,4]
x.append("hello")
x.insert(0,"heyyy")
x.extend([89,23,213,23,232])
print(x)

In [ ]:
x = [1,2,3,4]
x.append([54,56,45,4])
print(x)

In [ ]:
# Q1
x = [[1, 2, 3, [4, 5, 6, [7, 8, 9], 10, 11], 12]]



# x = [[1, 2, 3, [4, 5, 6, [7, 8, 9,1000], 10, 11], 12]]
# x[0][3][3].append(1000)
# print(x)

# x = [[1, 2, 3, [4, 5, 6, [7, 8, 9],2000, 10, 11], 12]]
# x[0][3].insert(4,2000)
# print(x)

# x = [[1, 2, 3, [4, 5,3000, 6, [7, 8, 9], 10, 11], 12]]
x[0][3].insert(2,3000)
print(x)

In [ ]:
x = [11,22,33,44,55,44,44,4466]
# x.remove(44)
# del x[0:2]
# del x
# z = x.pop()
# z = x.pop(0)
c = x.clear()
print(x)
z =  []
# print(z)

In [ ]:
x = [11,22,44,33,44,55,44,44,44]

z = []
for i in range(len(x)):
    if x[i] != 44:
        z.append(x[i])
#     print(i,"----",x[i])
print(z)

In [ ]:
x = [11,22,44,33,44,55,44,44,44]

while 44 in x:
    x.remove(44)
print(x)

In [ ]:
x = [1,2,3]*3
print(x)

In [ ]:
x = [[]]*3
# x = [[1,2,3],[4,5,6]]
# x[0].append(10)
print(id(x[0]))
print(id(x[1]))
print(id(x[2]))
print(x[0] is x[1])

In [ ]:
x = [1,2,3]
y = [1,2,3]
print(id(x))
print(id(y))
print(x == y)
print(x is y)

In [ ]:
x = [1,22,3,3,22,56]

print(min(x))
print(max(x))
print(sum(x))
x.sort(reverse = True)
print(x)

In [ ]:
# x = [1,22,3,"hello",3,22,56]
# x = ['hi',"hello","bye"]
x = [1,22,3,True,3,22,56]

print(min(x))
print(max(x))
# print(sum(x))
x.sort(reverse = True)
print(x)

In [ ]:
x = ["hello","hi","bye","hello"]
print(len(x))
print(x.index("hi"))
print(x.count("56"))

In [ ]:
x = ["hello","hi","bye"]

# for i in x:
#     print(i)

# for i in range(len(x)):
#     print(i,"---",x[i])

if "hi" not in x:
    print("present")
else:
    print("not present")

In [ ]:
x = ["hello","hi"]
y = ["sonu","monu"]

#output
# z = ["hello sonu","hello monu","hi sonu","hi monu"]
z = []
for i in x:
    for j in y:
        z.append(i+" "+j)
print(z)

In [ ]:
#input
x = ["hello","hi"]
y = ["sonu","monu"]


z = [i+" "+j for i in x for j in y]
print(z)

In [ ]:
z = [i for i in range(1,11,2)]
z

In [ ]:
#input
x = ["m","na","i","am"]
y = ["y","me","s","an"]

#output
# z = ["my","name","is","aman",]
z = []
for i in range(len(x)):
    z.append(x[i]+y[i])

print(z)

In [ ]:
#input
x = [1,2,2,3,3,3,4,4,5]

#output
# z = [1,2,3,4,5]
z = []
for i in x:
    if i not in z:
        z.append(i)
print(z)

In [ ]:
x = ["sun","mon","Tue","Wed","Thr","Fri","sat"]
print(x[-1][-2])

In [ ]:
x = ['1221',"abc","bccb","78887","1223"]

for i in x:
    if len(i) > 3 and i[0] == i[-1]:
        print(i)

In [ ]:
# Q1
# create a list from user input with in a given range
# Q2
x = [1,2,3]
y = [3,4,5]
print(x+y)
# print(x-y)

In [2]:
# create a list from user input with in a given range
num = int(input("enter your range = "))

z = []
for i in range(1,num+1):
    ele = input("enter your elements = ")
    if ele.isdigit():
        z.append(int(ele))
    else:
        z.append(ele)
print(z)

enter your range = 5
enter your elements = 54
enter your elements = hello
enter your elements = 89
enter your elements = hi
enter your elements = 890
[54, 'hello', 89, 'hi', 890]

In [3]:
z  = [1,2,3,4,5]
s  = 0
m  = 1
for i in z:
    s = s + i
    m = m * i
print("Total sum = ",s)
print("Total prod = ",m)

Total sum =  15
Total prod =  120