In [5]:
print("hello how are you") #string
print('hello how are you') #string
print(90)   #int
print(7.8) # float
print(True) # bool

hello how are you
hello how are you
90
7.8
True

In [8]:
# print(78)
print(type("hello"))
print(type("89"))

<class 'str'>
<class 'str'>

In [9]:
print(9.0)

9.0

In [15]:
print(5+5)
# print("5" + 5)
print("5"+"5")
print("5" * 5)
print("5" * "5")

10
55
55555

TypeError: can't multiply sequence by non-int of type 'str'

In [17]:
print("hello 'how' are you")
print('hello "how" are you')

hello 'how' are you
hello "how" are you

In [18]:
print("hello "how" are you")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (183651214.py, line 1)

## Escape character
- \
- \t --  one tab space
- \n -- new line/next line

In [19]:
print("hello \"how\" are you")

hello "how" are you

In [20]:
print("hello\t\t\thow are you")

hello			how are you

In [21]:
print("hello\nhow are you")

hello
how are you

In [27]:
print("\\n")

\n

## variables
### Rules
- variables can start with alphabets(not complusory)
- ( _ ) underscore is the only sp. char. which is allowed to create variables

- cannot be start with numbers
- #,@,
- keywords are not allowed to create variables

In [28]:
x = 7
y = "hello"
z = 7.8

In [39]:
print(15 + 5)
print(20 + 30)

20
50

In [44]:
x = 5
y = 5

print(id(x))
print(id(y))

2808352932208
2808352932208

In [48]:
# print(5 > 5)
print("HELLO" > "Hello")

False

In [47]:
print(ord('H'))
print(ord("h"))

72
104

In [52]:
print(chr(78))
# print(ord("h"))

Ì

In [56]:
x = int(input("enter a number = "))
y = float(input("enter a number = "))
z = x + y
print(z)

enter a number = hello

ValueError: invalid literal for int() with base 10: 'hello'

In [59]:
x = "5"
print(type(x))
y = int(x)
print(type(y))

<class 'str'>
<class 'int'>